<!-- github.com/EthanHoward -->
<center>

    <img href="favicon.ico"/>
    <link rel="icon" type="image/icon type" href="favicon.ico"/>
    <link rel="icon" href="/favicon.ico"  type="image/x-icon">

    <p>
        <image class="imgalt" src="{{iframesrc}}">
    </p>

</center>
<style>
    .imgalt {
        width: auto;
        height: 900px;
    }
    
    p {
        text-align: center;
    }

    image {
        display: table-cell;
        vertical-align: middle;
        margin: 10px auto 20px;
        display: block;
        
    }

    body {
        height:auto;
        width:auto;
        background-color: #000;
    }

    .llsab {
        color: #fff;
    }

    .PNG {
        height: 50%;
        width: 40%;
        padding: none;
        margin: none;
        margin-top:10%;
    }
</style>